.idea/*
SmartCalendar/.gradle
SmartCalendar/.idea
SmartCalendar/.gradle/*
SmartCalendar/.idea/*
backend/.idea/*
__pycache__/
/backend/__pycache__/
*.py[cod]
*$py.class

venv/
.env/

backend/.env
backend/smart_calendar.db

.DS_Store
Thumbs.db